
.createPost {    
    
    border-color: rgb(182, 182, 182);    
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    
    box-shadow: 5px 5px 10px grey;
    
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 20px;
}

.createPost h2 {
    margin: 0;
}

.createPost button {
    background-color: black;

    border-radius: 10px;
    border-color: black;

    color: white;

    height: 30px;
    margin-left: auto;
    margin-right: 0;
    width: 100px;
}

.createPost button:disabled {
    background-color: #666666;
    color: #e6e6e6;
    border-color: #a3a3a3;
}

.createPost button:enabled {
    cursor: pointer;
}

.createPost input, .createPost textarea {
    border-color: rgb(182, 182, 182);
    border-radius: 5px;
    border-width: 1px;

    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
}

.createPost input {
    min-height: 30px;
}
