
main {
    background-color: #dfdfdf;
    height: 100%;
    width: 100%;
}

.mainScreen {
    background-color: white;
    margin: 20px;
    padding: 20px;
    display: grid;
    gap: 20px;
    max-width: 500px;
    margin: 73px auto 0 auto;
}

.modal {
    display: grid;
    gap: 20px
}

.modal h1, .modal p {
    margin: 0;
}

.modal h1 {
    font-size: 1,5em;
    font-weight: normal;
}

.modal input, .modal textarea {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(182, 182, 182);
}

.modal input {
    min-height: 30px;
}

.modal textarea {
    min-height: 60px;
    font-family: inherit;
}

.buttons {
    margin-left: auto;
    margin-right: 0;  
    display: flex;
    gap: 10px;
}

.buttons button {
    height: 30px;
    min-width: 80px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(182, 182, 182);
    border-width: 1px;
}